h1 {
    color: rgb(194, 174, 63);
    font-family: Helvetica;
}

.menu {
    text-align: left;
}

body {
    background-color: rgb(75, 128, 158);
    margin: 80px;
}


th {
    border: 2px solid #8c6b48;
}

tr {
    width: 26.67em;
}
  
table {
    border: 2px solid #8c6b48;
    text-align: center;
    margin: 20px auto;
    width: 80em;
}
  
td {
    border: 2px solid #8c6b48;
    width: 300px;
}